@font-face {
  font-family : "MyriadPro";

    src:url(/fonts/MyriadProBoldSemiExtended.ttf) format('truetype'),
    url(/fonts/MyriadPro-Bold.otf) format("embedded-opentype"),
    url(/fonts/MyriadProBoldSemiExtended.woff) format ('woff'),
    url(/fonts/MyriadProBoldSemiExtended.woff2) format ("woff2");
    font-weight:normal;
 font-style:normal;

}
body {
  font-family: "MyriadPro";
}

.fas.fa-times{
  position: absolute;
    right: 0px;
    top: 25%;
}

section.top-bar{
  background-color: #10592e;
  text-align: center;
  height: 2rem;
  display: block;
}
#h1-content{
font-size: 4.4rem;
}
.top-bar p{
  color: white;
  font-size: 1.2rem;
}
.header {
  position: relative;
height: 8.7rem;
font-size: 1.5rem;
font-weight: bold;
}

.header div.col-auto{
  
}
a.nav-link {
  
}
.navbar-nav.mr-auto li#li1{

 position: absolute;
 right: 10%;
 top:18%
}
div.col-md-3.header__top{
  position: relative;
}
.header__logo img{
  width: 20.32rem;
 height: 5.16rem;
position: relative;

}
/*Menu*/
.menu {
position: relative;
left: 0px;

}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin: 0 2.5rem;
}
.menu__link {
  color: var(--gray-dark);
  font-size: 1.4rem;
  font-weight: bold; 
}


#btn-header {
 border-radius: 2.2rem;
font-size: 1.3rem;
width: 11.2rem;
height: 4rem;
background-color: #ff2600;
}

.header i{
  color: #272626;
}
ul {
  list-style: none;
  }

.content {
  background-image: url('/images/Store-a-Tooth\(Final\)_02.jpg');
  /* padding-top: 19rem; */
  position: relative;
   
  height: 55rem ;
  background-size: 100% 100%;
}
.content a.btn.btn-success{
  background-color: #8dc642;
  border-color: #8dc642;
}
.content1 {
  position: relative;
  
}

.content-title1 {
  font-weight: bold;
  margin-bottom: 3rem;
  line-height: 1.2;
 
  position: absolute;
  left: 5rem;
  top: 20rem;
  padding-left: 4.5rem;
  padding-right: 6rem;
  max-width:  40%;
  height: 20.4rem;
 
  
}
.content-desc1 {
  font-size: 1.6rem;
 width: auto;
  margin-bottom: 5rem;
  color: #8b94a0;
  position: static;
}

#row-content{
  position: absolute;
    top: 28%;
    left: 10%;
    width: 54rem;
}

#btn1{
  width: 205px;
  height: 50px;
  border-radius: 50px;
  padding-top: 12px;
  font-size: 15px;
  text-align: center;
  position: relative;
}
i.fa.fa-arrow-circle-right{ 
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 2;
color: white;
  font-size: 3.6rem;
}
.content2 h1 {
  padding-top: 30px;
  padding-bottom: 20px;
}


.content2 img {
  height: 65px;
  width: 70px;
 margin-left: auto; margin-right: auto;
 margin-top: 20px;
 margin-bottom: 30px;

}
.content2 {
  text-align: center;
  font-size: 15px;
}
.seen h4 {
  clear: both;
  width: 100%; 
  text-align: center; 
  border-bottom: 3px solid #ebebeb; 
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #272626;
} 

.seen h4 span { 
   background:#fff; 
   padding:0 10px;
   left: 20px;
}

.s1 {
  float: left;
  
}
.seen img {
  width: 9rem;
  height: 7rem;
}

section.lab {
background-color: #e9f2e3;
clear: both;
}

#col-lab {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.content-lab{
  padding: 4rem 0rem 4rem 0rem;
 
}
.title-lab h2{
  font-size: 4rem;
  width: 43.5rem;
  
}
.des-lab {
  font-size: 1.4rem;
  width: 40.5rem;
  color: #838481;
}
.btn-lab button{
  border-color: #31704b;
  width: 100px;
  background-color: aliceblue;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}
.process{
  padding-top: 40px;
  padding-bottom: 40px;
}

h1.pro{
  padding-top: 4rem;
  padding-left: 8rem ;
  font-weight: bold;
  font-size: 4rem;
}
#col-pro{
  padding-top: 10rem;
}
p.pro{
  color: #6e6e6e;
  font-size: 1.4rem;
  padding-left: 8rem;
}
#btn-pro{
  padding-top: 1.5rem;
  padding-left: 8rem;
}
button.btn-pro{
  border-color: #31704b;
  
  background-color: aliceblue;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-width: 2px; width: 13.7rem; height: 4rem;
  
}

.img-pro{
  object-fit: cover;
}

.parent img{
  width: auto;
  height: 21.4rem;
  background-color: #3e3e3e;
 object-fit: cover;
}
.parent{
  background-image: url(/images/Store-a-Tooth\(Final\)_0a.png);
  padding: 20px;
}

button.btn-par{
  border-color: #31704b;
  width: 100px;
  background-color: aliceblue;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;

}
#btn-par{
  padding-top: 3rem;
  padding-bottom: 6rem;
 
}
button.btn-par{
  border-width: 2px;
   width: 137px;
    height: 40.5px;
 
    
}
#h-parent{
  font-size: 4rem;
  text-align: center;
  padding-top: 3rem;
}
#p-parent {
  color: #7a7d81;
  font-size: 1.6rem;
  padding-bottom: 1em;
}

.card p{
  font-size: 1.1rem;
  color: #b1b1b1;
}

.card h3{
  font-size: 1.8rem;
}
.ques{
  padding: 2rem;
}
h1.ques{
  text-align: center;
  padding-bottom: 1rem;
  font-size: 4rem;
}
p.ques{
  text-align: center;
  padding: 0%;
  margin: 0%;
  font-size: 1.4rem;
  color: #6e6e6e;
}
a#ques-btn{

  position: absolute;
    right: 0px;
}
div.card.card-body {
  border: 0rem;
  padding-left: 0%;
  width: 65rem;
    font-size: 1rem;
}
.email div.row{
  padding: 5rem;
}
.img-email img{
  position: relative;
  left: 20%;
}
#ip{

  border-radius: 1rem;
 height: 5rem;
 border-width: 0.2rem;
}
/* .button-email {
  padding
} */



h1.email{
  font-size: 2.6rem;
  font-weight: bold;
}

.email i.fa.fa-arrow-circle-right {
  position: absolute;
  margin-right: 0px;
  top: 0.1rem;
 
color: green;
  font-size: 5rem;
} 
.input-group mb-3 input.form-control{
  border-radius: 1rem;
}
#ip3{
  width: 33rem;
    height: 3rem;
    border-radius: 1rem;
}
#sub3{
  
    color: greenyellow;
    border-radius: 1rem;
    height: 2rem;
    position: relative;
}
#sub3 i{
  position: absolute;
 font-size: xx-large;
 right: 2rem;
 top: -1rem;
 z-index: 3;
}
#t3 {
  position: relative;
  border-radius: 2rem;
   border-width: 0.015;
   border-style: solid;
   border-color: #e6e6e6;
   right: 0rem;
   width: 100%;
   height: 4.4rem ;
   padding-left: 2rem;
}
#b3{
  position: absolute;
  border-radius: 3rem;
  border-width: 0em;
  font-size: 2rem;
 
  right: 3%;
  padding: 0px;
  z-index: 2;
  width: 4.4rem;
  height: 4.4rem;
}
#i3{
  color: #8dc642;
  font-size: 4.5rem;
  border-radius: 5rem;
}
.btn3{
  position: relative;
  right: 0;
}

#p-email{
  font-size: 0.8rem;
  text-align: center;
  color: #acacac;
  padding: 1rem 3rem;
}
#p1-email{
  font-size: 1.6rem;
  color: #10592E;
  font-weight: bolder;
  padding: 0;
}

.footer{
  background-image: url(/images/Store-a-Tooth\(Final\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 1rem;
}

.footer b{
  font-size: 1.5rem;
}

.footer ul{
  padding: 1rem;
}

.footer li a{
  color: #3c3f38;
  padding-top: 5px;
  font-size: 1.2rem;
  
}
.footer-logo img {
  margin-left: 44%;
  width: 17rem;
  height: 4.5rem;
  position: relative;
}
p#foo{
  text-align: center;

  font: 1rem ;
  padding-top: 1rem;
  
}



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
ul.dropdown-menu.show, ul.dropdown-menu {
  font-size: small;
  width: 18rem;
 
  color: #272626;
}
ul.dropdown-menu.show a, ul.dropdown-menu a{
color: #272626;
}

#d1 {
  display: none;
  position: absolute;
 
  min-width: 160px;
  
  z-index: 1;
}
#d2 {
  display: none;
  position: absolute;
 
  min-width: 160px;
  
  z-index: 1;
}


#d1 a:hover, #d1-2 a:hover, #d1-3 a:hover, #d1-4 a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover #d1, .dropdown:hover #d1-2, .dropdown:hover #d1-3, .dropdown:hover #d1-4{display: block;}


.dropdown-submenu:hover #d2, .dropdown-submenu:hover #d2-2 {display: block;}

/* font size  */

.dropdown-menu a{
 font-size: 1.2rem;
 font-weight: 10;
 text-align: left;
 text-indent: 1rem;
 padding: 0.5rem;
}
#col-lab h2{
  font-size: 4rem;
}

#p-lab{
  font-size: 1.4rem;
}

#h1-pro{
  font-size: 4rem;
}

#p-pro{
  font-size: 1.4rem;
}

.slick-slide.slick-current.slick-active.slick-center{
  width: 10rem;
}
.seen #seen-col {
  padding: 3.5rem 25rem;
}

/* .seen img{
  width: 16rem!important;
  height: 7rem;
  display: block;
  padding-left: 4rem!important ;
} */

.lab-img {
  padding-top: 1rem;
height: auto;
width: 35rem;
}

p#p-content{
  font-size: 1.6rem;
  color: #6e6e6e;
}
.wyg{
  font-size: 4rem;
}
.content2 h3{
  font-size: 2.2rem;
}
.content2 p{
  font-size: 1.4rem;
  color: #c4c4c4;
}

/* arcordiont */

.accordion {
  background-color:white;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.8rem;
  transition: 0.4s;
  
  border-bottom: 0.1rem groove rgba(0, 0, 0, 0.103);
}

.active, .accordion:hover {
 
  background-image: linear-gradient(to right,#ebf4e4, #dce6e0);
  border-radius: 3rem;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 2px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
  max-width: 78rem;
  color: #b1b1b1;

  padding: left 1rem; ;
  font-size: 1.4rem;
  
  color: #6E6E6E;
}

/* end */

.top-bar a{
  color: white
}

.top-bar a:active ::after {
  display: none;
}