@media only screen and (max-width: 1600px) {
    #row-content{
      width: 500px;
      height: auto;
    }
  
    /* .content-desc1{
      font-size: 1rem;
    }
    .btn btn-danger{
      width: 0rem;
    } */
  }
  @media only screen and (max-width: 1000px) {
    #row-content{
      width: 300px;
      top: 10%;
     
    }
  }
  
  @media only screen and (max-width: 600px) {
    #row-content{
      width: 200px;
      top: 20%;
      }
      #h1-content{
        font-size: 2.5rem;
      }
      #btn1 {
          width: 15rem;
      }
     #p-lab{
         font-size: 1rem;
     }
     button.btn-par{
        border-width: 2px;
         width: 137px;
          height: 40.5px;
          position: absolute;
          left: 38%;
      }
      .footer-logo img {
        margin-left: 40%;
    
    }
  

    }

    @media only screen and (max-width: 430) {
    button.btn-pro{
       font-size: 1rem;
    }
    .footer-logo img {
        margin-left: 30%;
    
    }
}